<h1>Stats</h1>
<table>
    <tr>
        <td>
            Total completions
        </td>
        <td>
            X
        </td>
    </tr>
</table>
<h2>Page completions</h1>
<table>
    {{#each moduleData}}
        <tr>
            <td>{{displayTitle}}</td>
            <td>{{lookup ../moduleCompletion _id}}</td>
        </tr>
    {{/each}}
</table>
<h2>By count</h1>
<table>
    {{#eachProperty completedModulesCount}}
        <tr>
            <td>Completed <b>{{property}}</b> pages</td> 
            <td>{{value}}</td>
        </tr>
    {{/eachProperty }}
</table>